<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>机构资源明细</title>
</head>

<body>
    <form id="SysUnit_detail_from" method="post">
        <table border=1 bordercolor=#dbe1eb style="border-collapse:collapse;width: 100%;height: auto;" class="table">
            <tr style="height: 40px;">
                <th style="text-align: center;">上级资源<span style="margin-left:16px;cursor: pointer;color:#ff0000;" onClick="zTreeObjBysysUnitEdit.cancelSelectedNode();$('input[name=Parent]').val('0')">X</span></th>
                <th style="text-align: center;" colspan="4">机构管理信息</th>
            </tr>
            <tr>
                <td rowspan="6" height="40px">
                    <ul id="parentTreeMenuDetailBySysUnit" style="width: 100%;height: 100%;" class="ztree" />
                </td>
            </tr>
            <tr style="height: 40px;">
                <td style="text-align: right;">机构名称：</td>
                <td>
                    <input class="easyui-validatebox" data-options="required:false" value="{{.SysUnit.Name}}" />
                </td>
            </tr>
             <tr style="height: 40px;">
                <td style="text-align: right;">联系方式：</td>
                <td>
                    <input class="easyui-validatebox" data-options="required:false" value="{{.SysUnit.Call}}" />
                </td>
                <td style="text-align: right;">电子邮件：</td>
                <td>
                    <input class="easyui-validatebox" value="{{.SysUnit.Email}}" />
                </td>
            </tr>
            <tr style="height: 40px;">
                <td style="text-align: right;">创建人：</td>
                <td>
                    <input class="easyui-validatebox" data-options="required:true" value="{{.SysUnit.Creatername}}" />
                </td>
                <td style="text-align: right;">创建日期：</td>
                <td>
                    <input class="easyui-validatebox" value={{date .SysUnit.Changedate "Y-m-d H:i:s"}} />
                </td>
            </tr>
            <tr style="height: 40px;">
                <td style="text-align: right;">修改人：</td>
                <td>
                    <input class="easyui-validatebox" data-options="required:false" value="{{.SysUnit.Changename}}" />
                </td>
                <td style="text-align: right;">最后修改日期：</td>
                <td>
                    <input class="easyui-validatebox" value={{date .SysUnit.Changedate "Y-m-d H:i:s"}} />
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">备注：</td>
                <td colspan="3">
                    <textarea style="width: 99%;height: 100px;position: relative;resize:none;" class="easyui-validatebox">{{.SysUnit.Remark}}</textarea>
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
    $(function() {
        var SettingBySysUnitDetail = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "Id",
                    pIdKey: "Parent",
                    rootPId: 0
                },
                key: {
                    name: "Name"
                }
            }
        };
        //初始化菜单
        $.get("sysUnit/queryNotThreeMenu", function(data) {
            var zTreeObjBySysUnitDetail = $.fn.zTree.init($("#parentTreeMenuDetailBySysUnit"), SettingBySysUnitDetail, data);
            //选中当前父类节点
            var node = zTreeObjBySysUnitEdit.getNodeByParam("Id", {{.SysUnit.Parent}}, null);
            if (node) {
                zTreeObjBySysUnitEdit.selectNode(node);
            }
        });
    });
    </script>
</body>

</html>
