<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>修改机构管理</title>
</head>

<body>
    <form id="sysUnit_edit_from" method="post">
        <table border=1 bordercolor=#dbe1eb style="border-collapse:collapse;width: 100%;height: auto;" class="table">
            <tr style="height: 40px;">
                <th style="text-align: center;">上级资源<span style="margin-left:16px;cursor: pointer;color:#ff0000;" onClick="zTreeObjBySysUnitEdit.cancelSelectedNode();$('input[name=Parent]').val('0')">X</span></th>
                <th style="text-align: center;" colspan="4">机构管理信息</th>
            </tr>
            <tr>
                <td rowspan="5" height="40px">
                    <!-- 只加载一、二级菜单 -->
                    <input type="hidden" name="Parent" value="{{.SysUnit.Parent}}">
                    <ul id="parentTreeMenuEditBySysUnit" style="width: 100%;height: 100%;" class="ztree" />
                </td>
            </tr>
            <tr style="height: 40px;">
                <td style="text-align: right;">机构名称：</td>
                <td>
                    <input type="hidden" name="Id" value="{{.SysUnit.Id}}">
                    <input name="Name" class="easyui-validatebox" data-options="required:true" value="{{.SysUnit.Name}}" />
                </td>
                <td style="text-align: right;">机构代码：</td>
                <td>
                    <input name="Code" class="easyui-validatebox" data-options="required:true" value="{{.SysUnit.Code}}" />
                </td>

            </tr>
            <tr style="height: 40px;">
                <td style="text-align: right;">联系方式：</td>
                <td>
                    <input type="hidden" name="Id" value="{{.SysUnit.Id}}">
                    <input name="Call" class="easyui-validatebox" value="{{.SysUnit.Call}}" />
                </td>
                <td style="text-align: right;">电子邮件：</td>
                <td>
                    <input name="Email" class="easyui-validatebox" value="{{.SysUnit.Email}}" />
                </td>
            </tr>
             <tr style="height: 40px;">
                <td style="text-align: right;">地址：</td>
                <td colspan="3">
                    <input name="Address" style="width:99%;" class="easyui-validatebox" value="{{.SysUnit.Address}}"/>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">备注：</td>
                <td colspan="3">
                    <textarea name="Remark" style="width: 99%;height: 100px;position: relative;resize:none;" class="easyui-validatebox">{{.SysUnit.Remark}}</textarea>
                </td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
    $(function() {
        var SettingBySysUnitEdit = {
            data: {
                simpleData: {
                    enable: true,
                    idKey: "Id",
                    pIdKey: "Parent",
                    rootPId: 0
                },
                key: {
                    name: "Name"
                }
            },
            callback: {
                onClick: zTreeOnClickEdit
            }
        };
        //初始化菜单
        $.get("sysUnit/queryThreeMenu", function(data) {
            zTreeObjBySysUnitEdit = $.fn.zTree.init($("#parentTreeMenuEditBySysUnit"), SettingBySysUnitEdit, data);
            //选中当前父类节点
            var node = zTreeObjBySysUnitEdit.getNodeByParam("Id", {{.SysUnit.Parent}}, null);
            if (node) {
                zTreeObjBySysUnitEdit.selectNode(node);
            }

        });
    });

    function zTreeOnClickEdit(event, treeId, treeNode) {
        $("#sysUnit_edit_from input[name=Parent]").val(treeNode.Id)
    }

    function editUnit() {
        // call 'submit' method of form plugin to submit the form  
        $.messager.progress(); // 显示进度条  
        $('#sysUnit_edit_from').form('submit', {
            url:'sysUnit/update',
            onSubmit: function(param) {
                // do some check 
                // return false to prevent submit;  
                var isValid = $(this).form('validate');
                if (!isValid) {
                    $.messager.progress('close'); // 如果表单是无效的则隐藏进度条
                    $.messager.alert('机构信息', "信息不完善，不允许操作！", "info");
                }
                return isValid; // 返回false终止表单提交

            },
            success: function(data) {
                $.messager.progress('close'); // 如果提交成功则隐藏进度条
                var data = eval('(' + data + ')'); // change the JSON string to javascript object 
                var flag = "error"
                if(data.success){
                    $('#sysUnitList_treegrid').treegrid('reload');
                    $('#sysUnit_dialog_edit').dialog("close");
                    flag = "info"
                } 
                $.messager.alert('机构信息', data.message, flag);
            }
        });
    }
    </script>
</body>

</html>
